/**
 * Public CSS
 */
 
 .srpg_section {
   box-sizing:border-box;
   clear:both;
 }
 
 .featherlight-previous {
   right:85%;
 }
 
 .featherlight-next {
   left:85%;
 }
 
 .featherlight-next:hover, .featherlight-previous:hover {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgUAMAACkAJ+Ip3LMAAAAASUVORK5CYII=);
   background: rgba(0,0,0,.15);
 }
 
 .featherlight-next span, .featherlight-previous span {
   font-size: 30px;
   text-shadow:0px 0px 10px #000;
 }
 
 .lightbox-caption {
   text-align:center;
   margin: 1em auto 0;
 }
 
 .srpg_section .photo-thumb img {
   max-width:100%;
 }