/**
 * Admin CSS
 */
 
.clearfix:after {
	clear: both;
	display: block;
	content: " ";
	height: 0px;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hide these rules from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
li.clearfix {
	display: list-item;
}
/* End hide from IE-mac */
 
 
#srpg_photos .photo-preview {
  float:left;
  margin: 2px;
  padding: 4px;
  cursor: move;
  position:relative;
}
 
#srpg_photos .photo-preview:hover {
  background: #ddd;
}

#srpg_photos .photo-preview.selected {
  background: #0073aa;
}
 
#srpg_photos .photo-preview img {
  width:100px;
  height:100px;
}
 
#srpg_photos .photo-preview .edit-photo {
  display:none;
}

 #srpg_photos .photo-preview.selected  .edit-photo {
  display:block;
  position: absolute;
  top:0;
  right:0;
  margin: 4px;
  background: #fff;
  width: 20px;
  height:20px;
  text-decoration:none;
  border: 2px solid #333;
}

#edit-photo-caption {
  display:block;
  margin: 0 0 15px 0;
  width:100%;
}

#dialog-delete-photo {
  float:right;
}
#dialog-delete-photo:hover {
  background: #cc0000;
  color: #fff;
  border-color: #cc0000;
}
img.larger-preview {
  max-width:100%;
}